/* Import font Poppins dari Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Root HTML */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Loader */
.bg-loader {
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-loader .loader {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: #7a422b;
  border-right-color: #7a422b;
  border-bottom-color: #7a422b;
  animation: berputar 0.8s linear infinite;
}

/* Main Sosial Media */
.medsos {
  padding: 5px 0;
  background-color: #fea711;
}

.medsos ul li {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

/* Main header */
header {
  background-color: #7a422b;
}

header h1 {
  float: left;
  padding: 15px 0;
  color: #fff;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
}

header ul li a {
  padding: 28px 28px;
  display: inline-block;
  color: #fff;
}

header ul li a:hover {
  background-color: #fff;
  color: #7a422b;
  font-weight: bold;
}

/* Body Banner */
.banner {
  height: 500px;
  background-image: url("../images/kopipedia.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 150px;
}

.banner p {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: left;
}

.banner p span {
  font-weight: 500;
}

/* Body About */
section {
  padding: 20px 0;
}

section h2 {
  text-align: center;
  padding: 15px 0;
  color: #7a422b;
}

.about p {
  color: #000;
  word-spacing: 2px;
  line-height: 30px;
  text-align: center;
}

.about {
  padding-top: 40px;
  padding-bottom: 70px;
}







/* Loader */
@keyframes berputar {
  100% {
    transform: rotate(360deg);
  }
}




/* Responsif Tablet */
@media screen and (max-width: 768px){
  .container {
    width: 90%;
  }

  header h1 {
    text-align: center;
    float: none;
  }

  header ul {
    text-align: center;
    float: none;
  }

  .banner p {
    font-size: 3em;
    text-align: left;
  }
}




/* Responsif Smartphone */
@media screen and (max-width: 420px){
  header ul li a {
    padding: 15px 7px;
  }

  .banner {
    height: 40vh;
    padding-left: 40px;
  }

  .banner p {
    font-size: 2em;
    text-align: center;
  }
}
